.watchVideo {
  max-width: 91%;
  margin: 3rem auto;
  display: flex;
  align-items: flex-start;
  font-size: 1.4rem;
}

.watchVideo__videoInfo {
  width: 65%;
}

.watchVideo__videoInfo__title {
  margin: 1.2rem 0 0;
  font-size: 2.2rem;
  text-transform: capitalize;
}

.watchVideo__videoInfo__interactVideo {
  display: flex;
  align-items: center;
  margin: 1rem 0 0;
}

/* recommended videos*/

.watchVideo__recommends {
}

/* channel */
.channel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}

.channel__info {
  margin: 0 3rem 0 1.2rem;
}

.channel__info__name {
  font-size: 1.5rem;
}

.channel__info__subscribers {
  font-size: 1.3rem;
  color: var(--color-sub-title);
  padding: 0.2rem 0 0;
}

.channel__avatar > img {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 3rem;
  object-fit: cover;
}

/* emotion button */

.emotionButton {
  background-color: var(--color-button);
  border-radius: 3rem;
  margin: 0 0 0 auto;
}

.emotionButton,
.emotionButton__like,
.emotionButton__dislike {
  display: flex;
  align-items: center;
  justify-content: center;
}

.emotionButton__like,
.emotionButton__dislike {
  padding: 0.8rem 1.4rem;
  cursor: pointer;
  border-right: 0.1rem solid var(--color--button-active);
}

.emotionButton__like {
  border-bottom-left-radius: 3rem;
  border-top-left-radius: 3rem;
}

.emotionButton__dislike {
  border-bottom-right-radius: 3rem;
  border-top-right-radius: 3rem;
}

.emotionButton__dislike:hover,
.emotionButton__like:hover {
  background-color: var(--color--button-active);
}

.emotionButton__like__likers {
  margin: 0 0 0 1rem;
  font-weight: bold;
}

.emotionButton__like__icon,
.emotionButton__dislike__icon {
  width: 1.8rem;
  height: 1.8rem;
}

.emotionButton__like__icon > img,
.emotionButton__dislike__icon > img {
  width: 100%;
  height: 100%;
}

/* share button*/

.shareButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.8rem 1.4rem;
  background-color: var(--color-button);
  border-radius: 3rem;
  margin: 0 0.8rem;
  cursor: pointer;
}

.shareButton__icon {
  width: 1.8rem;
  height: 1.8rem;
  margin: 0 1rem 0 0;
}

.shareButton__icon > img {
  width: 100%;
  height: 100%;
}

.shareButton:hover {
  background-color: var(--color--button-active);
}

.optionButton {
  border-radius: 3rem;
  background-color: var(--color-button);
  cursor: pointer;
  padding: 0.8rem;
}

.optionButton__icon {
  width: 1.8rem;
  height: 1.8rem;
}

.optionButton__icon > img {
  width: 100%;
  height: 100%;
}

.optionButton:hover {
  background-color: var(--color--button-active);
}

/* description */
.description {
  margin: 1rem 0 0;
  padding: 1rem;
  background-color: var(--color-button);
  border-radius: 1rem;
  cursor: pointer;
}

.description:hover {
  background-color: var(--color--button-active);
}

.description__top {
  display: flex;
  align-items: center;
}

/* tools */

.tools {
  display: flex;
  align-items: center;
  margin: 2.2rem 0 2.4rem;
}

.tools__commentators {
  font-size: 1.6rem;
  margin: 0 3.5rem 0 0;
}

.tools__sort {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.tools__sort__icon {
  width: 1.8rem;
  height: 1.8rem;
  margin: 0 0.8rem 0 0;
}

.tools__sort__icon > img {
  width: 100%;
  height: 100%;
}

/* add comment */

.addComment {
  display: flex;
  align-items: flex-start;
}

.addComment__avatar {
  margin: 0 1.2rem 0 0;
}

.addComment__avatar > img {
  border-radius: 3rem;
  width: 4.2rem;
  height: 4.2rem;
  object-fit: cover;
}

.addComment__form {
  width: 100%;
}

.addComment__form__content > input {
  border: none;
  outline: none;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.4rem;
  border-bottom: 0.1rem solid var(--color--button-active);
}

.addComment__form__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 1rem 0 0 auto;
}

.addComment__form__buttons__cancelButton,
.addComment__form__buttons__commentButton {
  padding: 1rem;
  border-radius: 3rem;
  margin: 0 0.5rem;
  cursor: pointer;
}

.addComment__form__buttons__commentButton {
  background-color: var(--color-button);
  color: var(--color--sub-text);
  font-weight: bold;
}

/* comments  */

.comments {
  margin: 3rem 0 0;
}

/* comment */

.comment {
  display: flex;
  align-items: flex-start;
  margin: 0 0 2rem;
}

.comment__avatar {
  margin: 0 1.6rem 0 0;
}

.comment__avatar > img {
  width: 4.2rem;
  height: 4.2rem;
  object-fit: cover;
  border-radius: 3rem;
}

.comment__content__top,
.comment__interactComment,
.comment__interactComment__like,
.comment__interactComment__dislike {
  display: flex;
  align-items: center;
}

.comment__content__top {
  font-size: 1.3rem;
  font-weight: bold;
}

.comment__content__text {
  margin: 0.6rem 0 1.4rem;
}

.comment__interactComment__like,
.comment__interactComment__dislike {
  margin: 0 1.4rem 0 0;
}

.comment__interactComment__like > img,
.comment__interactComment__dislike > img {
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
}

.comment__interactComment__like__likers {
  padding: 0 0 0 0.5rem;
  font-size: 1.2rem;
  color: var(--color-sub-title);
}

.comment__interactComment__reply {
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
  margin: 0 0 0 1rem;
}

.comment__content__replies {
  margin: 1rem 0 0;
  display: inline-flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}

.comment__content__replies:hover {
  background-color: var(--color-highlight-reply-button);
  border-radius: 3rem;
}

.comment__content__replies__icon {
  width: 1rem;
  height: 1rem;
  transform: rotate(90deg);
}

.comment__content__replies__text {
  color: var(--color-reply-button);
  margin: 0 0 0 1rem;
  font-weight: bold;
}

/* recommended */

.watchVideo__recommends {
  width: 35%;
  margin: 0 0 0 2.2rem;
}

.watchVideo__categories {
  display: flex;
  align-items: center;
  margin: 0 0 1.5rem;
}

.videoRecommended {
  display: flex;
  align-items: flex-start;
  margin: 0 0 0.5rem;
}

.videoRecommended__thumbnail {
  margin: 0 1rem 0 0;
}

.videoRecommended__thumbnail > img {
  width: 16rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 1rem;
}

.videoRecommended__info__title {
  font-weight: bold;
  margin: 0 0 0.8rem;
}

.videoRecommended__info__channel,
.videoRecommended__info__bottom {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  line-height: 1.4;
  color: var(--color-sub-title);
}

.videoRecommended__info__bottom {
  margin: 0;
}
