.subscriptionButton {
    padding: 1rem 1.4rem;
    border-radius: 30rem;
    color: white;
    background-color: black;
    font-size: 1.4rem;
    cursor: pointer;
    font-weight: bold;
}

.subscriptionButton:hover {
    opacity: 0.8;
}