.video__info__channel__verify {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video__info__channel__verify__icon {
  width: 1.3rem;
}

.video__info__channel__verify__subTitle {
  position: absolute;
  top: -5rem;
  left: -2.5rem;
  z-index: 1;
  color: white;
  display: none;
  background-color: rgba(77, 77, 77, 0.8);
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
}

.video__info__channel__verify:hover .video__info__channel__verify__subTitle {
  display: block;
}
