.video {
  width: 25%;
  min-height: 28rem;
  max-height: 28rem;
  padding: 1.5rem 1rem;
  text-transform: capitalize;
  line-height: 1.4;
  cursor: pointer;
  position: relative;
}

.video__videoImg {
  width: 100%;
  height: 15rem;
  border-radius: 1.5rem;
  object-fit: cover;
}

.video__info {
  display: flex;
  margin: 1.2rem 0;
}

.video__info__shortInfoOfVideo {
  font-size: 1.3rem;
}

.video__info__channelAvt {
  margin-right: 1.5rem;
}
.video__info__channelAvt > img {
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 30rem;
}

.video__info__videoTitle {
  height: 4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  font-weight: bold;
  line-height: 1.3;
  opacity: 0.9;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}

.video__info__channel {
  display: flex;
  align-items: center;
  color: rgb(99, 99, 99);
  text-transform: capitalize;
}

.video__info__channel__name {
  margin-right: 0.8rem;
  position: relative;
}

.video__info__channel__name__subTitle {
  display: none;
  width: 8rem;
  text-align: center;
  position: absolute;
  top: -5rem;
  transform: translateX(-20%);
  z-index: 1;
  color: white;
  background-color: rgba(77, 77, 77, 0.8);
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
}

.video__info__channel__name:hover {
  color: black;
}
.video__info__channel__name:hover .video__info__channel__name__subTitle {
  display: block;
}

.video__info__view-time {
  color: rgb(99, 99, 99);
  display: flex;
  align-items: center;
  text-transform: none;
}
