.channelOwner {
    margin-right: 0.8rem;
    position: relative;
}

.channelOwner__subName {
    display: none;
    position: absolute;
    top: -4.5rem;
    left: 0;
    color: white;
    background-color: rgba(77, 77, 77, 0.8);
    padding: 0.5rem .8rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    min-width: 6.5rem;
    text-align: center;
}

.channelOwner:hover {
    color: black;
}

.channelOwner:hover .channelOwner__subName {
    display: inline-block;
}
