.emotionButton {
    background-color: var(--color-button);
    border-radius: 3rem;
    margin: 0 0 0 auto;
}

.emotionButton,
.emotionButton__like,
.emotionButton__dislike {
    display: flex;
    align-items: center;
    justify-content: center;
}

.emotionButton__like,
.emotionButton__dislike {
    padding: 0.8rem 1.4rem;
    cursor: pointer;
    border-right: 0.1rem solid var(--color--button-active);
    position: relative;
}

.emotionButton__like {
    border-bottom-left-radius: 3rem;
    border-top-left-radius: 3rem;
}

.emotionButton__dislike {
    border-bottom-right-radius: 3rem;
    border-top-right-radius: 3rem;
}

.emotionButton__dislike:hover,
.emotionButton__like:hover {
    background-color: var(--color--button-active);
}

.emotionButton__like__likers {
    margin: 0 0 0 1rem;
    font-weight: bold;
}

.emotionButton__like__icon,
.emotionButton__dislike__icon {
    width: 1.8rem;
    height: 1.8rem;
}

.emotionButton__like__icon > img,
.emotionButton__dislike__icon > img {
    width: 100%;
    height: 100%;
}

/* */

.nofSignIn {
    position: absolute;
    z-index: 1;
    width: 30rem;
    left: 0;
    top: 100%;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: .2rem .2rem 1rem rgba(0, 0, 0, .1);
    color: black;
    padding: 1rem 1.5rem;
    line-height: 2.5;
    display: none;
}

.nofSignIn__like--open , .nofSignIn__dislike--open{
    display: block;
}


.nofSignIn__subTitle {
    font-size: 1.3rem;
    color: var(--color-sub-title);
}