:root {
    --color-sub-title: #606060;
    --color-button: #f5f5f5;
    --color--button-active: #e7e7e7;
    --color--sub-text: #b7b7b7;
    --color-reply-button: rgb(6, 95, 212);
    --color-highlight-reply-button: #d4f5f4;
}